# Limpieza del dataset de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. El archivo contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com.

El dataset fue descargado hace algunos años y en ningún caso se obtuvo beneficio económico de ello.

Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

In [2]:
import pandas as pd
import numpy as np

#### Ejercicio 00

Lee el dataset data/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [3]:
# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
df = pd.read_csv('../data/real_estate.csv', sep=';')
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

In [25]:
df.head()

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
5,6,153934794,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,70.0,315000,...,0,0,0,0,0,0,"40,53391","-3,89445",NaN,NaN

## Trabajando con un DataFrame

#### Ejercicio 01

¿Cuál es la casa más cara del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Para visualizar el resultado utiliza un f-string. Por ejemplo:

```py
f'La casa más cara se encuentra en la dirección: {address} y su precio es {price} €'
```

In [4]:
# TODO
# Encontrar la fila con el precio mínimo
fila_max = df.loc[df["price"].idxmax()]

# Extraer la dirección y el precio
direccion = fila_max["address"]
precio = fila_max["price"]

# Retornar el resultado con f-string
f"La casa más cara se encuentra en la dirección: {direccion} y su precio es €{precio}"

'La casa más cara se encuentra en la dirección: El Escorial y su precio es €8500000'

#### Ejercicio 02

¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada utilizando f-string

In [5]:
# TODO
# Encontrar la fila con el precio mínimo
fila_min = df.loc[df["price"].idxmin()]

# Extraer la dirección y el precio
direccion = fila_min["address"]
precio = fila_min["price"]

# Retornar el resultado con f-string
f"La casa más barata se encuentra en la dirección: {direccion} y su precio es €{precio}"

'La casa más barata se encuentra en la dirección: Parla y su precio es €0'

#### Ejercicio 03

¿Cuál es la casa más grande del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas utilizando f-string

In [22]:
df['surface'].dtypes

dtype('float64')

In [24]:
surface_max = df.loc[df["price"].idxmax()]
surface_max

Unnamed: 0                                                       7690
id_realEstates                                              153621694
isNew                                                           False
realEstate_name                         knight frank residencial lujo
phone_realEstate                                          912171063.0
url_inmueble        https://www.fotocasa.es/es/comprar/vivienda/ma...
rooms                                                            13.0
bathrooms                                                        10.0
surface                                                        1165.0
price                                                         8000000
date                                             2019-12-24T10:00:00Z
description         Construido en 1962, el edificio Feygon es uno ...
address                                                Madrid Capital
country                                                        España
level1                                                         Madrid
level2                                                         Madrid
level3                                                Madrid, Zona de
level4                                                            NaN
level5                                                 Madrid Capital
level6                                                            NaN
level7                                                      Chamartín
level8                                      Hispanoamérica - Bernabéu
upperLevel                                  Hispanoamérica - Bernabéu
countryId                                                           0
level1Id                                                            0
level2Id                                                            0
level3Id                                                            0
level4Id                                                            0
level5Id                                                            0
level6Id                                                            0
level7Id                                                            0
level8Id                                                            0
accuracy                                                            0
latitude                                                     40,45257
longitude                                                    -3,68977
zipCode                                                           NaN
customZone                                                        NaN
Name: 7689, dtype: object

In [6]:
# TODO
# Asegurar que 'surface' sea numérico y eliminar NA
df["surface"] = pd.to_numeric(df["surface"], errors="coerce")
df = df.dropna(subset=["surface"])

# Posición de la casa más grande
idx = np.argmax(df["surface"].values)

# Dirección y superficie
direccion = df.iloc[idx]["address"]
superficie = df.iloc[idx]["surface"]

# Resultado
f"La casa más grande se encuentra en la dirección: {direccion} y su superficie es {superficie} m²"

'La casa más grande se encuentra en la dirección: Sevilla la Nueva y su superficie es 249000.0 m²'

#### Ejercicio 04

¿Cuál es la casa más pequeña del dataset? (★☆☆)

In [7]:
# TODO
# Asegurar que 'surface' sea numérico y eliminar NA
df["surface"] = pd.to_numeric(df["surface"], errors="coerce")
df = df.dropna(subset=["surface"])

# Posición de la casa más pequeña
idx = np.argmin(df["surface"].values)

# Dirección y superficie
direccion = df.iloc[idx]["address"]
superficie = df.iloc[idx]["surface"]

# Resultado
f"La casa más pequeña se encuentra en la dirección: {direccion} y su superficie es {superficie} m²"

/tmp/ipykernel_3306701/3802400228.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["surface"] = pd.to_numeric(df["surface"], errors="coerce")

'La casa más pequeña se encuentra en la dirección: Calle Amparo,  Madrid Capital y su superficie es 15.0 m²'

#### Ejercicio 05.

¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

- Muestra el nombre de las filas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.
- También muestra el nombre de las columnas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.

In [8]:
# TODO
class AnalisisNA:
    def __init__(self, df):
        self.df = df

    def revisar_na(self):
        result = {"filas_con_na": self.df.isna().any(axis=1),
                  "columnas_con_na": self.df.isna().any()}
        return result

# Uso (ya tienes df cargado antes)
analisis = AnalisisNA(df)
analisis.revisar_na()

{'filas_con_na': 0        True
 2        True
 3        True
 4        True
 5        True
          ...
 15330    True
 15331    True
 15332    True
 15333    True
 15334    True
 Length: 14085, dtype: bool,
 'columnas_con_na': Unnamed: 0          False
 id_realEstates      False
 isNew               False
 realEstate_name      True
 phone_realEstate     True
 url_inmueble        False
 rooms                True
 bathrooms            True
 surface             False
 price               False
 date                False
 description          True
 address             False
 country             False
 level1              False
 level2              False
 level3              False
 level4               True
 level5              False
 level6               True
 level7               True
 level8               True
 upperLevel          False
 countryId           False
 level1Id            False
 level2Id            False
 level3Id            False
 level4Id            False
 level5Id            False
 level6Id            False
 level7Id            False
 level8Id            False
 accuracy            False
 latitude            False
 longitude           False
 zipCode              True
 customZone           True
 dtype: bool}

#### Ejercicio 06.

Elimina los NAs del dataset, si aplica (★★☆)

Muestra las dimensiones del DataFrame original y del DataFrame después de las eliminaciones.

In [9]:
# TODO
class LimpiezaNA:
    def __init__(self, df):
        self.df = df

    def eliminar_na(self):
        # Dimensiones originales
        original_shape = self.df.shape

        # Eliminar filas con NAs
        df_sin_na = self.df.dropna()

        # Dimensiones después de eliminar
        nuevo_shape = df_sin_na.shape

        return {
            "dimensiones_originales": original_shape,
            "dimensiones_sin_na": nuevo_shape
        }

# Uso (ya tienes df cargado antes)
limpieza = LimpiezaNA(df)
limpieza.eliminar_na()

{'dimensiones_originales': (14085, 37), 'dimensiones_sin_na': (0, 37)}

#### Ejercicio 07

¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

- Muestra una lista con los nombres de las poblaciones
- Muestra el total de las mismas

In [10]:
# TODO
class AnalisisPoblaciones:
    def __init__(self, df):
        self.df = df

    def poblaciones(self):
        # Quitar NAs y valores duplicados
        poblaciones = self.df["level5"].dropna().unique()
        total = len(poblaciones)

        return {
            "lista_poblaciones": poblaciones.tolist(),
            "total_de_poblaciones": total
        }

# Uso (ya tienes df cargado antes)
analisis = AnalisisPoblaciones(df)
analisis.poblaciones()

{'lista_poblaciones': ['Arganda del Rey',
  'Boadilla del Monte',
  'Fuenlabrada',
  'Las Rozas de Madrid',
  ' Madrid Capital',
  'Villaviciosa de Odón',
  'Pinto',
  'Valdemoro',
  'Navalcarnero',
  'Pozuelo de Alarcón',
  'Torrejón de Ardoz',
  'Navalagamella',
  'San Sebastián de los Reyes',
  'Rivas-vaciamadrid',
  'Alpedrete',
  'Móstoles',
  'San Fernando de Henares',
  'Coslada',
  'Becerril de la Sierra',
  'Alcalá de Henares',
  'Chinchón',
  'Parla',
  'Alcorcón',
  'El Escorial',
  'Leganés',
  'Pedrezuela',
  'Majadahonda',
  'Villanueva de la Cañada',
  'Villanueva del Pardillo',
  'Torrelodones',
  'Moralzarzal',
  'Mejorada del Campo',
  'Aranjuez',
  'Corpa',
  'Getafe',
  'Velilla de San Antonio',
  'Sevilla la Nueva',
  'San Martín de la Vega',
  'Villalbilla',
  'Collado Villalba',
  'Alcobendas',
  'El Molar (Madrid)',
  'Moraleja de Enmedio',
  'Algete',
  'Campo Real',
  'Torrejón de la Calzada',
  'Colmenar Viejo',
  'Valdemorillo',
  'Fuente El Saz de Jarama',
  'Tres Cantos',
  'Arroyomolinos (Madrid)',
  'Griñón',
  'Paracuellos de Jarama',
  'Guadarrama',
  'Titulcia',
  'Galapagar',
  'Collado Mediano',
  'Los Molinos',
  'San Lorenzo de El Escorial',
  'Loeches',
  'San Martín de Valdeiglesias',
  'Navas del Rey',
  'Bustarviejo',
  'Manzanares El Real',
  'Carabaña',
  'Casarrubuelos',
  'Cercedilla',
  'Fresnedillas de la Oliva',
  'Valdemaqueda',
  'Miraflores de la Sierra',
  'Humanes de Madrid',
  'Valdetorres de Jarama',
  'San Agustín del Guadalix',
  'Camarma de Esteruelas',
  'Torres de la Alameda',
  'Talamanca de Jarama',
  'El Atazar',
  'Hoyo de Manzanares',
  'El Boalo - Cerceda – Mataelpino',
  'El Álamo',
  'Valdilecha',
  'Valdeolmos-Alalpardo',
  'Brunete',
  'Redueña',
  'Morata de Tajuña',
  'Tielmes',
  'Gargantilla del Lozoya',
  'Guadalix de la Sierra',
  'Meco',
  'Venturada',
  'Quijorna',
  'Cenicientos',
  'Torrejón de Velasco',
  'Navacerrada',
  'Ciempozuelos',
  'Santa María de la Alameda',
  'Robledo de Chavela',
  'Orusco de Tajuña',
  'Daganzo de Arriba',
  'Villamanta',
  'Anchuelo',
  'Valdaracete',
  'Ajalvir',
  'Los Santos de la Humosa',
  'Villamanrique de Tajo',
  'Colmenar de Oreja',
  'Villa del Prado',
  'Fuentidueña de Tajo',
  'Colmenar del Arroyo',
  'Belmonte de Tajo',
  'Valdelaguna',
  'Valdeavero',
  'Aldea del Fresno',
  'Ribatejada',
  'Batres',
  'Pezuela de las Torres',
  'Colmenarejo',
  'Serranillos del Valle',
  'Cobeña',
  'Soto del Real',
  'Cubas de la Sagra',
  'El Berrueco',
  'Villanueva de Perales',
  'Fresno de Torote - Serracines',
  'Pozuelo del Rey',
  'Pelayos de la Presa',
  'El Vellón',
  'La Cabrera',
  'Nuevo Baztán',
  'Perales de Tajuña',
  'Villaconejos',
  'Villarejo de Salvanés',
  'Cadalso de los Vidrios',
  'Santorcaz',
  'Madarcos',
  'Garganta de los Montes',
  'Puentes Viejas',
  'Torremocha de Jarama',
  'Valdemanco',
  'Braojos',
  'Lozoyuela-navas-sieteiglesias',
  'Piñuécar-gandullas',
  'Valdepiélagos',
  'Valverde de Alcalá',
  'Villar del Olmo',
  'Villamantilla',
  'Horcajo de la Sierra',
  'Gascones',
  'Zarzalejo',
  'Brea de Tajo',
  'Estremera',
  'Chapinería',
  'Torrelaguna',
  'Navarredonda',
  'Patones',
  'Ambite',
  'Navalafuente',
  'Lozoya',
  'Villavieja del Lozoya',
  'Canencia',
  'Cabanillas de la Sierra',
  'Buitrago del Lozoya',
  'Fresno de Torote',
  'Robregordo',
  'Pinilla del Valle',
  'Rascafría',
  'La Hiruela',
  'Montejo de la Sierra'],
 'total_de_poblaciones': 168}

#### Ejercicio 08

¿Cuál es la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

In [11]:
# TODO

#### Ejercicio 09.

¿Los precios promedios de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

- Muestra ambos promedios
- Escribe en una celda markdown una conclusión sobre ellos

In [12]:
# TODO

#### Ejercicio 10

¿Los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

> Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

- Muestra ambos promedios de precio por metro cuadrado
- Escribe en una celda markdown una conclusión sobre ellos

In [13]:
# TODO

#### Ejercicio 11

¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

- Muestra el valor obtenido.

In [14]:
# TODO

#### Ejercicio 12

¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

- Muestra la población y el número de casas.

In [15]:
# TODO

---

## Trabajando con un subconjunto del DataFrame

#### Ejercicio 13

Ahora vamos a trabajar con el "cinturón sur" de Madrid.

Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

> Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [16]:
# TODO

#### Ejercicio 14

Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (★★★)

> Debes usar el subset obtenido en la pregunta 13

- Crea y visualiza un diccionario con todos los valores

In [17]:
# TODO

#### Ejercicio 15

¿Cuál es la casa más cara de cada población del cinturón sur de Madríd? (★★☆)

> Debes usar el subset obtenido en la pregunta 13

- Genera un DataFrame con esta información
- Muestra tanto la dirección como el precio de la casa seleccionada de cada población.
- Genera conclusiones en una celda markdown

In [18]:
# TODO

#### Ejercicio 16

¿Qué puedes decir acerca del precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? (★★☆)

> Debes usar el subset obtenido en la pregunta 13
>
> Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [19]:
# TODO

## Conclusiones

#### Ejercicio 17

Escribe aquí tus conclusiones acerca de este proyecto